@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

/* Defining variables in the :root pseudo class */
:root{
    --primary-color: #033F63;
    --secondary-color: #28666E;
    --third-color: #7C9885;
    --accent1-color: #FEDC97;
    --accent2-color: white;

    --heading-font: 'Georgia', sans-serif;
    --paragraph-font: 'Times New Roman', serif;

    --nav-background-color: #033F63;
    --nav-link-color: #FEDC97;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #28666E;
    
    --h1-background-color: #FEDC9790; /* Including opacity */
    --article-background-color: #28666E90 /* Including opacity */
}

/* Setting the page width to 1024 px using the wrap class */
div.wrap {
    width: 1024px;
}

/* Headings styling */
h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

/* Paragraphs styling */
p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

/* Retiring underline from social media links using the socialmedialinks class created in the html document */
.socialmedialinks a:link {
    text-decoration: none;
}

.hero {
    padding-top: 20px;
}

.hero div{
    position: relative;
}

.hero h1{
    position: absolute;
    display: block;
    width: 1024px;
    background-color: var(--h1-background-color);
    top: 250px;
    text-align: center;
    color: var(--primary-color);
}

.hero article{
    position: absolute;
    display: block;
    width: 1024px;
    background-color: var(--article-background-color);
    top: 600px;
}

.hero p{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    padding: 25px;
}

.hero article img{
    float: right;
    height: 150px;
    width: auto;
}

/* header design using grid*/
header {
    background-color: var(--article-background-color);
    display: grid; /*Defining the grid*/
    grid-template-columns: 1fr 4fr; /*Putting 2 columns on the grid*/
    gap: 20px; /*Creating a gap between grid elements*/
}

.header-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.header-links a {
    display: block;
}

.header-links a:any-link {
    text-decoration: none;
    font-size: 1.2rem;
    font-style:normal;
    color: var(--primary-color);
}

header img {
    width: 200px;
    box-shadow: 0 0 20px gray;
    margin: 20px;
}

.history h2{
    text-align: center;
    font-size: 2rem;
}

.inventary {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
}

.inventary p{
    align-items: start;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--third-color);
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inventary img{
    padding: 20px;
    padding-top: 60px;
}

.adventure h2 {
    text-align: center;
    font-size: 2rem;
}
.adv-fig {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

footer {
    background-color: var(--h1-background-color);
}

footer p{
    text-align: center;
}

.socialmedialinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 5px;
}

/* Contact Us Page Configuration*/
.companyinfo {
    height: 540px;
    background-color: lightgrey;
    display: grid;
        grid-template-columns: 1fr 5fr 4fr;
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "headquarters headquarters map"
          "info info map"
          "phone-icon phone-number map"
          "email-icon email-address ."
          "home-icon address ."
          "social-media-icon social-media-icon social-media-icon";      
}

.headquarters { 
    grid-area: headquarters;
    text-align: center;
}
      
.map { 
    grid-area: map; 
}
      
.city { 
    grid-area: info;
    text-align: center; 
}
      
.phone-icon { 
    grid-area: phone-icon;
    text-align: right; 
    justify-content:end;
}
      
.email-icon { 
    grid-area: email-icon;
    text-align: right; 
}
      
.home-icon { 
    grid-area: home-icon;
    text-align: right; 
}
      
.phone-number { 
    grid-area: phone-number;
    text-align: center;
}
      
.email-address { 
    grid-area: email-address;
    text-align: center; 
}
      
.address { 
    grid-area: address;
    text-align: center; 
}
      
.social-media-icon { 
    grid-area: social-media-icon;
    text-align: center; 
}

.social-media-icon a:link {
    text-decoration: none;
}

.photos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

figcaption {
    text-align: center;
    color: var(--primary-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.interact {  
    background-color: var(--h1-background-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 0.5fr 1fr 1fr 2fr 0.2fr 3fr 0.5fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  .title { 
    grid-area: 1 / 1 / 2 / 3; 
    padding-left: 20px;    
    }
  
  .subtitle { grid-area: 2 / 1 / 3 / 3; padding-left: 20px; }
  
  .your-name { grid-area: 3 / 1 / 4 / 2; padding-left: 20px; }
  
  .your-email { grid-area: 3 / 2 / 4 / 3; padding-left: 20px; }
  
  .choice { grid-area: 4 / 1 / 5 / 2; padding-left: 20px; }
  
  .radiob { grid-area: 5 / 1 / 6 / 2; padding-left: 20px; }
  
  .blank { grid-area: 6 / 1 / 7 / 2; padding-left: 20px; }
  
  .message { grid-area: 7 / 1 / 8 / 3; padding-left: 20px; }
  
  .check-list { grid-area: 8 / 1 / 9 / 2; padding-left: 20px; }
  
  .sub-button { 
    grid-area: 9 / 1 / 10 / 3;
    text-align: center;
    justify-content:center;
    }

    .sub-button button{
        color: white;
        background-color: navy;
    }
  