@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

/* Defining variables in the :root pseudo class */
:root{
    --primary-color: #033F63;
    --secondary-color: #28666E;
    --accent1-color: #FEDC97;
    --accent2-color: white;

    --heading-font: 'Georgia', sans-serif;
    --paragraph-font: 'Times New Roman', serif;

    --nav-background-color: #033F63;
    --nav-link-color: #FEDC97;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #28666E;
    
    --h1-background-color: #FEDC9790; /* Including opacity */
    --article-background-color: #28666E90 /* Including opacity */
}

/* Setting the page width to 1024 px using the wrap class */
div.wrap {
    width: 1024px;
}

/* Headings styling */
h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

/* Paragraphs styling */
p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    padding: 25px;
}

/* Retiring underline from social media links using the socialmedialinks class created in the html document */
.socialmedialinks a:link {
    text-decoration: none;
}

.hero div{
    position: relative;
}

.hero h1{
    position: absolute;
    display: block;
    width: 1024px;
    background-color: var(--h1-background-color);
    top: 250px;
    text-align: center;
}

.hero article{
    position: absolute;
    display: block;
    width: 1024px;
    background-color: var(--article-background-color);
    top: 600px;
}

.hero p{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.hero article img{
    float: right;
    height: 150px;
    width: auto;
}