@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body p{
    font-family: 'Times New Roman', Times, serif;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a{
    color: burlywood;
    display: inline-block;
    padding: 20px;
}

h1 {
    color: steelblue;
    font-family: 'Georgia';
}

main img {
    width: 200px;
    margin: 10px;
    height: auto;
    box-shadow: 0 0 30px gray;
    float: right;
}

main p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    /*background-color: aquamarine;*/
    /*color: darkblue;*/
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    box-shadow: none;
}

aside h2 {
    position: absolute;
    left: 110px;
}

aside p {
    color: darkblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    margin-top: 1rem;
    border-top: 2px solid black;
    text-align: center;
}

footer p {
    color: darkblue;
}

/* Class selectors */
.box {
    margin: 1rem;
    border: 2px;
    padding: 1rem;
    background-color: aquamarine;
    color: darkblue;
}